body {
    background-color: rebeccapurple;
}

.card {
    border: 1px dotted hotpink;
}

.container {
    display: grid;
    max-height: 100vh;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
}

.sidebar-display {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.main-display {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.cards-display {
    gap: 10px;
    display: flex;
    flex-direction: column;
}